{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/style_base.css" %}" rel="stylesheet">
</head>
<body>
    <div class = "header">
        DHU
    </div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>