{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Home</title>
</head>
<body>
    <main>
    <div class="q">
        <p class="y"><img src="{% static 'image/img1.png'%}" class="u"><a href="http://e4d33efb7f0b.ngrok.io/account/login">Вход</a></p>
        <p class="y"><img src="{% static 'image/img2.png' %}" class="u"><a href="http://e4d33efb7f0b.ngrok.io/about.html">О проекте</a></p>
    </div>
    <div class="e">
        <h1>STATNAL</h1>
    </div>
    <style>
        .e{
        text-align: right;
        background: url("{% static 'image/img.jpg' %}") center no-repeat;
        height: 991px;
        width: 82%;
        text-align: center;
    }
    </style>
</main>
</body>
</html>